
@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Graphik-Regular-Trial.otf);
  }

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: MyFirstFont;
    padding: 0;
    margin: 0px auto;
    max-width: 1600px;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: inherit;
}

ul{
    list-style-type: none;
    padding: 0;
}

.section_lg{
    padding: 90px 30px;
}

.yellow-btn{
    padding: 10px 25px;
    background-color: #ef7f1a;
    color: #292929;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.yellow-btn:hover{
    background-color: #1b4883 !important;
    color: #fff !important;
    font-weight: 600;
}

.common-btn{
    padding: 10px 25px;
    background-color: transparent;
    border: 2px solid #dddddd;
    color: #ddd;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.common-btn:hover{
    background-color: #fff;
    color: #1b4883;
    font-weight: 600;
}

.secondary-color{
    color: #737373;
}

.common-heading{
    font-weight: 600;
    position: relative;
}

.common-heading::before{
    content: "";
    position: absolute;
    background-color: #ef7f1a;
    top: 0;
    bottom: 0;
    left: -40px;
    width: 5px;
}

.secondary-heading{
    color: #1b4883;
    font-size: 22px;
    margin: 0;
    font-weight: 700;
}

/* header css start */


.upper-header{
    background-color: #1b4883;
    padding: 10px 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.upper-left-header{
    display: flex;
    gap: 25px;
}

.upper-left-header a span{
    padding-right: 15px;
    font-size: 16px;
}

.upper-right-header{
    display: flex;
    gap: 15px;
    color: #fff;
}

.upper-right-header .nav-link a{
    font-size: 14px;
}

/* 
#header{
    background: rgba(0, 71, 187, .9);
    color: #fff;
    left: 0;
    position: sticky;
    right: 0;
    top: 0;
    transition-duration: .5s;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    width: 100%;
    z-index: 50;
    transform: translateY(0);
} */

.lower-header{
    background-image: url('../images/about-bg.jpg');
    background-size: cover;
    background-position: center;
    background-position: center center;
}

.header-inner{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0px 20px;
    background-color: #e8ebf8;
}

.left-header a img{
    width: 150px;
    height: 80px;
}

.left-header p{
    font-size: 32px;
    line-height: 1.0;
}

#mobile-menu > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

/* #mobile-menu .nav-link{
    padding: 25px 0px;
} */


.tj-menu-area ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
} 

.tj-menu-area li {
    position: relative;
}

.tj-menu-area .nav-link > a {
    color: #1b4883;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 17px;
    margin-left: 0;
    margin-right: 0;
}

.tj-menu-area li a{
    color: #000;
    font-weight: 600;
}

.tj-menu-area  li:hover a{
    color: #1b4883;
}

.tj-menu-area .nav-link:hover > a::after {
    display: block;
}

.tj-menu-area .has-dropdown:hover .sub-menu {
    opacity: 1;
    visibility: visible;
}

.tj-menu-area li .sub-menu li a.active, .tj-menu-area li .sub-menu li a:hover {
    color: #ef7f1a;
}


.tj-menu-area li .sub-menu {
    text-align: left;
    margin: 0;
    list-style: none;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: 9;
    left: 0%;
    top: 220%;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    background: #e8ebf8;
    padding: 10px 10px 20px;
    width: 250px;
}

.tj-menu-area ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

.tj-menu-area li .sub-menu li {
    display: block;
    margin-right: 0;
    transition: 0.4s;
    padding: 10px 30px;
}

.tj-menu-area li .sub-menu li a{
    position: relative;
}

.tj-menu-area li .sub-menu li a::before{
    background-color: #ef7f1a;
    bottom: 0;
    content: "";
    display: block;
    left: -.75rem;
    position: absolute;
    top: 0;
    transition-duration: .5s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    width: 1px;
    visibility: hidden;
}

.tj-menu-area li .sub-menu li:hover a::before{
    visibility: visible;
}

.nav-link a::after{
    background-color: #ef7f1a;
    bottom: -30px;
    content: "";
    display: none;
    height: 3px;
    left: 0;
    position: absolute;
    right: 0;
    transition-duration: .5s;
    z-index: 1111;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.nav-link a{
    font-size: 18px;
}

/* header css end */


/********** MOBILE HEADER ************/


.mobile-header{
    display: none;
}

.mobile-menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b4883;
    padding: 10px;
}

.mobile-menu-container .logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.mobile-menu-container .logo p{
    line-height: 1;
    display: none;
}

/* mobile menu css */

.canva_expander {
    cursor: pointer;
    display: block;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
}

.canva_expander span {
    height: 2px;
    width: 35px;
    display: block;
    background: #fff;
    cursor: pointer;
    list-style: none;
    margin: 8px 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    margin-left: auto;
}

.canva_expander span.dot2 {
    width: 27px;
}

.canva_expander span.dot4 {
    width: 22px;
}


.hamburger {
    position: absolute;
    top: 20px;
    right: 15px;
    /* line-height: 20px; */
    padding: 5px;
    /* border-radius: 5px; */
    color: #fff;
    border: 0;
    font-size: 30px;
    font-weight: bold;
    outline: none;
    z-index: 1111;
    background: none;
}

.cross{
  background:none;
  position:absolute;
  top:5px;
  right:15px;
  padding:7px 15px 0px 15px;
  color:#0047bb;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:22222;
}
.menu{z-index:1111; font-weight:bold; font-size:16px; width:100%; background-color: #fff;  position:absolute; text-align:center; font-size:12px; top: 0; left: 0;min-height: 100%;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none; padding-top: 80px;}
.menu li {display: block;   padding:20px 0 20px 0;  font-weight: 700;}
.menu li:hover{display: block;    background-color: #fff;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#0047bb;font-size: 14px;}
.menu ul li a:hover {  color: #0047bb; text-decoration:none;}
.menu a{text-decoration:none; color:#0047bb;}

.nav__sub li{
    padding: 10px 0px !important;
}

.fa-chevron-right{
    font-size: 12px;
}

.glyphicon-home{
  color: #0047bb; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}


.nav__item , .nav__item {
	margin-top: 10px;
}

.menu ul .nav__link {
	font-weight: 600;
	color: #0047bb;
    /* font-family: 'myregularfont'; */
	text-decoration: none;
}

.menu ul .nav__sub {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
    height: 100vh;
	background-color: #fff;
  color: #0047bb;
	opacity: 0;
	display: none;
	transition: all 0.35s ease-in-out;
	transform: translateX(100%);
}

.menu ul .nav__sub.is-active {
  opacity: 1;
  display: block;
  transform: translateX(0%);
}

.menu ul .nav__sub {
	margin-top: 0;
	margin-bottom: 0;
	padding: 15px;
	list-style-type: none;
}

.contact-btn-mobile{
    border-radius: 50px;
    display: flex;
    margin: 0 auto;
    width: max-content;
    border: 1px solid #0047bb;
    padding: 10px 20px !important;
    margin-top: 10px;
}

.hamburger, .cross, .menu{
  display: none;
}

.logo img{
    width: 80px;
    height: 50px;
    background-color: #fff;
}


/* home banner css start */

.home-banner-content{
    padding-left: 30px;
    padding-top: 150px;
    padding-bottom: 40px;
}

.breadcrumb{
    padding: 10px 0px;
    margin-top: 20px;
}

.breadcrumb p{
    color: #fff;
}

.breadcrumb p a{
    color: #ef7f1a;
}

.breadcrumb p a:hover{
    text-decoration: underline;
}

.breadcrumb p span{
    margin: 0px 10px;
    font-size: 12px;
}

.home-banner-heading{
    position: relative;
    animation-duration: 1s;
    animation-delay: .3s;
}

.animated {
    animation-fill-mode: both;
}

.fade-in-left{
    animation-name: fadeInLeft;
}

.home-banner-heading .light{
    font-weight: 300;
    color: #fff;
    margin: 0;
    width: 50%;
    font-size: 64px;
    padding-left: 20px;
}

.home-banner-heading .light::before, .home-banner-heading .bold::before{
    content: "";
    position: absolute;
    background-color: #ef7f1a;
    top: 0;
    bottom: 0;
    left: -5px;
    width: 5px;
}

.home-banner-heading .bold{
    font-weight: 700;
    color: #fff;
    width: 50%;
    font-size: 64px;
    margin: 0;
    padding-left: 20px;
}

.home-banner-heading p{
    padding-left: 20px;
    color: #dddddd;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: .5px;
    width: 50%;
    margin-top: 20px;
}

.home-banner-btns{
    margin-top: 30px;
    display: flex;
    gap: 20px;
    padding-left: 30px;
}


/* home banner css end */




/* about section css start */

.about-section{
    display: grid;
    grid-template-columns: 6.5fr 5.5fr;
    gap: 50px;
}

.left-about p{
    font-size: 17px;
}

.left-about{
    padding-left: 40px;
}

.left-about-inner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    margin-top: 30px;
}

.left-about-inner-item{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.left-about-inner-item img{
    width: 60px;
}

.right-about img{
    width: 100%;
}

.about-caption{
    margin-top: 44px;
    padding: 0 130px 49px 0;
}

.about-title{
    font-size: 24px;
    color: #292929;
    font-weight: 700;
}

.about-desc{
    margin-top: 15px;
}

.post-link{
    position: absolute;
    bottom: 0;
    right: 15px;
    transform: rotate(-90deg) translateX(100%);
    transform-origin: 100% 100%;
    display: inline-block;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1b4883;
    display: flex;
    align-items: center;
}

.post-link span{
    font-size: 24px;
    padding-right: 15px;
}

.vision-mission{
    background-color: #e8ebf8;
}

.vm-heading{
    padding-left: 40px;
}

.vision-mission-inner{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
}

.mission-item, .vision-item{
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mission-item img, .vision-item img{
    width: 100px;
    height: 100px;
    margin: 0px auto;
    display: flex;
}

.why-choose-inner{
    display: grid;
    grid-template-columns: 4.5fr 7.5fr;
    gap: 90px;
}


.right-why-choose{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.right-why-choose-item{
    padding: 30px;
    background-color: rgb(239, 127, 26, .2);
}

.right-why-choose-item img{
    width: 60px;
    height: 60px;
}

.right-why-choose-item p{
    font-size: 22px;
}


/* about section css end */

.smart .container-fluid{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

    .letter-container {
    padding: 10px;
    }
    
    .title {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 20px;
    color: #1b4883;
    padding: 0px 185px;
    }
    
    
    .desc {
    background: rgb(239, 127, 26, .2);
    padding: 15px 185px;
    position: relative;
    z-index: 0;
    }
    
    
    .relative-cont {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 0;
    }
    .left-letter {
    font-size: 220px;
    margin-top: -80px;
    font-weight: bolder;
    color: #1b4883;
    }
    
    
    .right-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #fff;
    background: #fff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -30px;
    }

    .right-icon img{
        width: 60px;
        height: 60px;
    }

/* smart section css start */

.smart-section{
    background-color: #f1f4fc;
}

.smart-section-inner{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 30px;
    margin-top: 40px;
}

.smart-section .container-fluid{
    padding-left: 40px;
}

.smart-section-item{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.smart-section-inner .smart-heading{
    display: flex;
    gap: 25px;
    align-items: center;
}

.bg-color{
    background-color: rgb(239, 127, 26, .2);
    border-radius: 2px;
}

.smart-section-item img{
    width: 50px;
    height: 50px;
}

.smart-section-item h2{
    color: #1b4883;
    font-weight: 700;
}

.smart-section-item p{
    font-size: 17px;
}

/* smart section css end */

/* guiding principle css start */

.guiding-principle-inner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin-top: 50px;
}

.gp-item{
    padding: 20px;
    border-radius: 5px;
    background-color: #e8ebf8;
}

.gp-item h5{
    font-weight: 600;
}

/* guiding principle css end */


/* our usp css start */

.usp-inner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    row-gap: 100px;
    margin-top: 80px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 0 0 15px 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    padding-bottom: 15px;
    background-color: white;   
}

.card img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #ef7f1a;
    background-color: #fff;
    padding: 5px;
    margin-top: -45px;
}

.card h5{
    color: #1b4883;
    font-weight: 600;
}

.cont{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 120px;
    text-align: center;
    transition: all 0.6s ease;
}


/* our usp css end */


/* systems at work section css start */

.systems-at-work-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 30px;
    row-gap: 60px;
}

.systems-at-work-item{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.systems-at-work-item .blog-heading{
    color: #1b4883;
    position: relative;
    font-weight: 600;
}

.systems-at-work-item .blog-heading span{
    position: relative;
    background-color: #fff;
    display: inline-block;
    padding-right: 20px;
}

.systems-at-work-item .blog-heading::before{
    position: absolute;
    content: '';
    background: #000;
    width: 80%;
    right: 0;
    left: 0;
    top: 10px;
    height: 1px;
}

.systems-at-work-item img{
    width: 100%;
    height: 250px;
}

.systems-at-work-item .blog-small-heading{
    font-weight: 600;
}

/* systems at work section css end */


/* systems at work detail css start */

.saw-detail-section .vm-heading{
    margin-bottom: 40px;
}

.saw-detail-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.saw-detail-section h2{
    color: #1b4883;
}

.saw-detail-item p ul{
    padding-left: 40px;
    margin-bottom: 0;
}

.saw-detail-item ul li{
    padding-top: 5px;
    padding-bottom: 5px;
    list-style-type: disc;
}

.saw-detail-item h3{
    font-weight: 600;
}

/* systems at work detail css end */

/* faq about peb css start */

.faq-section .accordion-button{
    font-size: 24px;
    font-weight: 600;
    padding: 25px 0px;
    z-index: 0;
}

.faq-section .accordion-button:not(.collapsed){
    background-color: transparent;
    color: #292929;
}

.faq-section .accordion{
    border: transparent;
    z-index: 0;
}

.faq-section .accordion-item{
    border: unset;
    border-bottom: 1px solid #d5d8dc;
}

.faq-section .accordion-button:focus{
    border-color: transparent;
    box-shadow: none;
}

/* faq about peb css end */

/* PEB Page css start */

.peb-section-inner{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}

.peb-item{
    background-color: rgb(239, 127, 26, .2);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.peb-concept-heading{
    margin-top: 50px;
}

.peb-p-font{
    margin-top: 50px;
    font-size: 28px;
    font-weight: 600;
}

.bullet-points-peb li{
    padding: 5px 0px;
}

.why-choose-peb-inner{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
}

.why-choose-peb-item{
    background-color: #e8ebf8;
    padding: 20px;
    border-top: 2px solid transparent;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.why-choose-peb-item:hover{
    border-top: 2px solid #ef7f1a;
    transition: all .5s ease;
}

.why-choose-peb-item h4{
    color: #292929;
    font-weight: 600;
}

.peb-img-section img{
    width: 100%;
}


/* peb blog css */

.peb-blog-inner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    margin-top: 50px;
}

.peb-blog-item{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background-color: rgb(239, 127, 26, .2);
}

.peb-flowchart img{
    width: 100%;    
    margin-top: 40px;
}

/* PEB Page css end */

/* PEB Components css start */

.peb-comp-section .container-fluid{
    padding-left: 40px;
}

.peb-comp-section img{
    width: 80%;
    margin: 0px auto;
    margin-bottom: 30px;
    display: flex; 
}

.pri-comp-peb-section{
    display: grid;
    grid-template-columns: 4.5fr 7.5fr;
    gap: 40px;
}

.right-pc-peb{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}

.right-pc-peb-item{
    padding: 20px;
    background-color: rgb(239, 127, 26, .2);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.right-pc-peb-item h4{
    font-weight: 600;
}

.sc-peb-parts{
    margin-top: 40px;
    padding-left: 40px;
}

.sc-peb-parts-item{
    margin-top: 20px;
}

.why-peb-matter-section{
    background-color: #e8ebf8;
}

.why-peb-matter-inner{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    margin-top: 50px;
}

.why-peb-matter-item{
    background-color: rgb(239, 127, 26, .2);
    padding: 20px;
    border-top: 2px solid transparent;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.why-peb-matter-item h4{
    font-weight: 600;
}

.why-peb-matter-item:hover{
    border-top: 2px solid #1b4883;
    transition: all .5s ease;
}

/* PEB Components css end */

/* manufacturing facility css start */

.mf-points-inner{
    margin-top: 50px;
}

.mf-points-inner li span{
    font-size: 22px;
    color: #1b4883;
}
.mf-points-inner li{
    font-size: 17px;
    padding: 8px 0px;
    color: #737373;
}

/* manufacturing facility css end */

/* industrial fabrication css start */

.inspection-process-inner{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.inspection-process-item{
    padding: 20px;
    background-color: rgb(239, 127, 26, .2);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inspection-process-item img{
    width: 50px;
    height: 50px;
}

/* industrial fabrication css end */


/* news section css start */

.news-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-left: 30px;
}

.news-title .yellow-btn{
    padding: 15px 50px;
}

.news-inner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    row-gap: 60px;
}

.news-inner-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.news-inner-item img{
    width: 100%;
}

.news-inner-item h2{
    position: relative;
    padding-left: 20px;
    font-size: 19px;
}

.news-inner-item p{
    text-align: justify;
}

.news-inner-item h2::before{
    content: "";
    position: absolute;
    background-color: #ef7f1a;
    top: 0;
    bottom: 0;
    left: -5px;
    width: 4px;
}

.date{
    padding-left: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.date span:nth-child(2){
    width: 2px;
    height: 2px;
    color: #000;
    background-color: #000;
    border-radius: 100%;
}

.news-desc{
    padding-left: 20px;margin: 0;
}

.news-link{
    padding-left: 20px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #1b4883;
    display: flex;
    align-items: center;
}

.news-link span{
    margin-right: 10px;
}

/* news section css end */

/* updates page css start */

.news-events-inner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}

.news-events-inner-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.news-events-inner-item img{
    width: 100%;
    height: 250px;
}

.news-events-inner-item h2{
    position: relative;
    padding-left: 20px;
    font-size: 19px;
}

.news-events-inner-item p{
    text-align: justify;
}

.news-events-inner-item h2::before{
    content: "";
    position: absolute;
    background-color: #ef7f1a;
    top: 0;
    bottom: 0;
    left: -5px;
    width: 4px;
}

/* updates page css end */


/* contact section css start */

.contact-inner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 80px;
}

.form-links{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.input-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-group input, .input-group textarea{
    /* border: none; */
    outline: none;
    width: 100%;
    height: 54px;
    padding: 12px 17px;
    padding-right: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #737373;
    background-color: #f1f4fc;
    background-image: none;
    border: 1px solid #f1f4fc;
}

.input-group.textarea-group{
    margin-top: 20px;
}

.contact_section input[type=submit]{
    margin-top: 40px;
    outline: none;
    border: 1px solid #ef7f1a;
}

.input-group label{
    font-size: 14px;
    color: #737373;
}

.right-contact{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.contact-links{
    text-align: center;
}

.contact-links i{
    font-size: 34px;
    color: #1b4883;
    margin-bottom: 10px;
}

/* contact section css end */


/* gallery page css start */

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
  }
  .gallery__item {
    box-shadow: 0 0.1875rem 0.625rem rgba(0, 0, 0, 0.4);
    overflow: hidden;
  }
  .gallery__image {
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    height: 230px;
    width: 100%;
  }
  .gallery__image:hover {
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.15);
  }
  .gallery__image:hover + .gallery__image__caption {
    display: block;
  }
  .gallery__image__caption {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #222;
    border-radius: 0.375rem;
    color: #fefefe;
    font-weight: 600;
    margin-top: 1.25rem;
    padding: 1rem;
    white-space: nowrap;
    z-index: 1;
  }
  .gallery__navigation--next, .gallery__navigation--prev, .gallery__navigation--close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 0;
    height: 42px;
    opacity: 0.5;
    overflow: hidden;
    padding: 0;
    transition: opacity 0.2s ease-in-out;
    width: 42px;
  }
  .gallery__navigation--next:hover, .gallery__navigation--prev:hover, .gallery__navigation--close:hover {
    opacity: 1;
  }
  .gallery__navigation--next::before, .gallery__navigation--prev::before {
    display: flex;
    content: "";
    border: solid #fff;
    border-width: 0 0.25rem 0.25rem 0;
    padding: 0.5rem;
  }
  .gallery__navigation--next {
    right: 1.5rem;
    transform: rotate(-45deg);
  }
  .gallery__navigation--prev {
    left: 1.5rem;
    transform: rotate(135deg);
  }
  .gallery__navigation--close {
    top: 2rem;
    right: 2rem;
  }
  .gallery__navigation--close::before {
    position: absolute;
    left: 1rem;
    background-color: #fff;
    content: " ";
    height: 33px;
    transform: rotate(45deg);
    width: 2px;
  }
  .gallery__navigation--close::after {
    position: absolute;
    left: 1rem;
    background-color: #fff;
    content: " ";
    height: 33px;
    transform: rotate(-45deg);
    width: 2px;
  }
  .gallery__modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    inset: 0;
    overflow-y: scroll;
    width: 100%;
    z-index: 1;
  }
  .gallery__modal img {
    display: block;
    margin: auto;
    max-width: 90%;
    max-height: 90%;
  }
  .gallery__modal[aria-hidden=true] {
    display: none;
  }
  .gallery__modal[aria-hidden=false] {
    display: flex;
  }
  
  .noscroll {
    overflow: hidden;
  }

  .TabButton {
    width: 100%;
  color: #5A5A61;
  border: 0;
  border-bottom: 1px solid #e0e0e0;
  margin: 0;
  padding: 16px;
  cursor: pointer;
}
.TabButtonSelected {

  color: #1b4883 !important;
  border-bottom-color: #ef7f1a !important;
  font-weight: 600;
}
.d-chart-n {
display: none;
}

.d-chart-show {
display: block;
}
  

/* gallery page css end */


/* footer css start */

#footer{
    background-color: #1b4883;
    color: #fff;
    padding: 40px 20px;
}

.footer-inner{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
}

.footer-item h3{
    margin-bottom: 20px;
}

.footer-item ul li{
    padding: 5px 0px;
    display: flex;
    align-items: center;
}

.footer-item ul li span{
    padding-right: 10px;
}

.footer-item input{
    background-color: #fff;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #737373;
}

.footer-item input::placeholder{
    color: #737373;
}

.copyright{
    font-size: 12px
}

.lower-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* footer css end */

/* animations css code */

.reveal{
    position: relative;
    opacity: 0;
  }
  
  .reveal.active {
    opacity: 1;
  }

.active.fade-up {
    animation: fade-up 1s ease-in;
  }

  .active.fade-up-form {
    animation: fade-up-form 1s ease-in;
  }

  .active.fadeInLeft {
    animation: fadeInLeft 1s ease;
  }
  
  .active.fadeInRight {
    animation: fadeInRight 1s ease;
  }

  .active.fadeIn{
    animation: fadeIn 1s ease;
  }

  .active.fadeInDown{
    animation: fadeInDown 1s ease;
  }

  .active.fadeInAnimation{
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
        opacity: 1;
    }
  } 
  
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-100%,0,0);
      transform: translate3d(-100%,0,0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
  }
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(100%,0,0);
      transform: translate3d(100%,0,0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
  }

  @keyframes fade-up {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-50px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 } 

  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }


  @media screen and (max-width: 768px) {

    .header-inner, #header{
        display: none;
    }

    .mobile-header{
        display: block;
    }

    .active.fadeIn, .active.fade-up, .active.fadeInLeft, .active.fadeInDown, .active.fadeIn{
        animation: none;
    }

    .common-heading::before {
        left: -20px;
    }

    .section_lg{
        padding: 50px 30px;
    }

    .vm-heading{
        padding-left: 0;
    }

    p{
        font-size: 14px;
    }

    .secondary-heading {
        font-size: 20px;
    }
    
    .yellow-btn, .right-production .yellow-btn {
        padding: 5px 15px;
    }

    .yellow-btn a, .right-production .yellow-btn{
        font-size: 14px;
    }

    .home-banner-content{
        margin-top: 0 !important;
        padding-top: 0;
        padding-bottom: 0;
    }

    .lower-header{
        padding: 60px 0px 60px 0px;
    }

    .home-banner-heading .light {
        width: 100%;
        font-size: 34px;
    }

    .home-banner-heading .bold {
        font-weight: 600;
        color: #fff;
        width: 100%;
        font-size: 26px;
    }

    .home-banner-heading p {
        font-size: 14px;
        width: 100%;
    }
    
    .about-section, .left-about-inner, .production-section, .news-inner, .vision-mission-inner, .guiding-principle-inner, .why-choose-inner, .right-why-choose, .usp-inner, .inspection-process-inner, .peb-section-inner , .peb-img-section, .why-choose-peb-inner, .pri-comp-peb-section, .right-pc-peb, .why-peb-matter-inner, .systems-at-work-section, .contact-inner, .form-links, .news-events-inner{
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }

    .left-about p, .right-production p{
        font-size: 14px;
    }

    .left-about-inner-item img {
        width: 60px;
    }

    .left-about {
        padding-left: 0px;
    }

    .left-about-inner-item {
        gap: 5px;
    }

    .right-about::before, .left-production::before {
        display: none;
    }

    .left-production, .right-about{
        max-width: fit-content;
    }

    .right-about .post-link, .post-link{
        display: none;
    }

    .about-caption{
        padding: 0;
    }

    .about-title {
        margin-bottom: 0px;
        font-size: 20px;
    }

    .about-desc {
        margin-top: 10px;
        margin-bottom: 0;
    }

    .sales-caption {
        margin-top: 25px;
        padding: 0;
    }

    .right-production-inner {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
        margin-top: 20px;
        margin-bottom: 65px;
  }

  .right-production-inner-item .secondary-heading{
    font-size: 16px;
    text-align: left;
  }

  .right-production-inner-item img{
    width: 100px;
  }

  .news-title{
    flex-direction: column;
    padding-left: 20px;
  }

  .news-title .yellow-btn{
    display: none;
  }

  .footer-inner{
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
  }

  .footer-item h3 {
    margin-bottom: 10px;
    }

   /* smart values css */

   .smart-section-inner{
    gap: 20px;
    margin-top: 30px;
    } 

    .smart-section .container-fluid, .peb-comp-section .container-fluid {
        padding-left: 0px;
        padding-right: 0;
    }

    .smart-section-item{
        padding: 25px;
    }

    .smart-section-item p {
        font-size: 14px;
    }

    .left-letter {
        font-size: 70px;
        margin-top: -100px;
    }

    .relative-cont {
        top: 10%;
    }

    .desc {
        padding: 20px 20px;
        font-size: 14px;
    }

    .title{
        padding: 0px 60px;
    }

    .right-icon {
        width: 60px;
        height: 60px;
        top: 0%;
    }

    .right-icon img {
        width: 50px;
        height: 50px;
    }

    .mission-item, .vision-item {
        padding: 20px;
    }

    .mission-item img, .vision-item img {
        width: 70px;
        height: 70px;
    }

    #footer ul{
        padding-left: 0;
        margin-bottom: 0;
    }

    .guiding-principle-inner{
        margin-top: 30px;
    }
    
    .card h5{
        text-align: center;
        font-size: 18px;
    }

    .card img {
        width: 50px;
        height: 50px;
        margin-top: -25px;
    }

    .usp-inner{
        row-gap: 50px;
    }

    .peb-p-font {
        margin-top: 30px;
        font-size: 20px;
    }

    .bullet-points-peb li {
        padding: 5px 0px;
        font-size: 14px;
        color: #737373;
    }

    .peb-comp-section img {
        width: 100%;
    }

    .sc-peb-parts{
        margin-top: 30px;
        padding-left: 0;
    }

    .manufacturing-facility-desc, .mf-points-inner{
        margin-top: 30px !important;
    }

    .mf-points-inner li span {
        font-size: 18px;
    }

    .mf-points-inner li {
        font-size: 14px;
    }

    .faq-section .accordion-button {
        font-size: 16px;
    }

    .faq-section .accordion-body{
        color: #737373;
        font-size: 14px;
    }

    .systems-at-work-section{
        row-gap: 30px;
    }

    .systems-at-work-item{
        gap: 10px;
    }

    .systems-at-work-item .blog-small-heading{
        font-size: 18px;
    }

    .systems-at-work-item p{
        font-size: 14px;
        color: #737373;
    }

    .left-contact p{
        margin-top: 30px !important;
    }

    .contact_section input[type=submit]{
        margin: 0px auto;
        display: flex;
        margin-top: 30px;
    }

    .right-contact{
        gap: 20px;
    }
}


  @media screen and (max-width: 450px) {

    .header-inner, #header{
        display: none;
    }

    .mobile-header{
        display: block;
    }

    .active.fadeIn, .active.fade-up, .active.fadeInLeft, .active.fadeInDown, .active.fadeIn{
        animation: none;
    }

    .common-heading::before {
        left: -20px;
    }

    .section_lg{
        padding: 50px 30px;
    }

    .vm-heading{
        padding-left: 0;
    }

    p{
        font-size: 14px;
    }

    .secondary-heading {
        font-size: 20px;
    }
    
    .yellow-btn, .right-production .yellow-btn {
        padding: 5px 15px;
    }

    .yellow-btn a, .right-production .yellow-btn{
        font-size: 14px;
    }

    .home-banner-content{
        margin-top: 0 !important;
        padding-top: 0;
        padding-bottom: 0;
    }

    .home-banner-heading .light {
        width: 100%;
        font-size: 34px;
    }

    .home-banner-heading .bold {
        font-weight: 600;
        color: #fff;
        width: 100%;
        font-size: 26px;
    }

    .home-banner-heading p {
        font-size: 14px;
        width: 100%;
    }
    
    .about-section, .left-about-inner, .production-section, .news-inner, .vision-mission-inner, .guiding-principle-inner, .why-choose-inner, .right-why-choose, .usp-inner, .inspection-process-inner, .peb-section-inner , .peb-img-section, .why-choose-peb-inner, .pri-comp-peb-section, .right-pc-peb, .why-peb-matter-inner, .systems-at-work-section, .contact-inner, .form-links{
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }

    .left-about p, .right-production p{
        font-size: 14px;
    }

    .left-about-inner-item img {
        width: 60px;
    }

    .left-about {
        padding-left: 0px;
    }

    .left-about-inner-item {
        gap: 5px;
    }

    .right-about::before, .left-production::before {
        display: none;
    }

    .left-production, .right-about{
        max-width: fit-content;
    }

    .right-about .post-link, .post-link{
        display: none;
    }

    .about-caption{
        padding: 0;
    }

    .about-title {
        margin-bottom: 0px;
        font-size: 20px;
    }

    .about-desc {
        margin-top: 10px;
        margin-bottom: 0;
    }

    .sales-caption {
        margin-top: 25px;
        padding: 0;
    }

    .right-production-inner {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
        margin-top: 20px;
        margin-bottom: 65px;
  }

  .right-production-inner-item .secondary-heading{
    font-size: 16px;
    text-align: left;
  }

  .right-production-inner-item img{
    width: 100px;
  }

  .news-title{
    flex-direction: column;
    padding-left: 20px;
  }

  .news-title .yellow-btn{
    display: none;
  }

  .footer-inner{
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
  }

  .footer-item h3 {
    margin-bottom: 10px;
    }

   /* smart values css */

   .smart-section-inner{
    gap: 20px;
    margin-top: 30px;
    } 

    .smart-section .container-fluid, .peb-comp-section .container-fluid {
        padding-left: 0px;
        padding-right: 0;
    }

    .smart-section-item{
        padding: 25px;
    }

    .smart-section-item p {
        font-size: 14px;
    }

    .left-letter {
        font-size: 70px;
        margin-top: -100px;
    }

    .relative-cont {
        top: 10%;
    }

    .desc {
        padding: 20px 20px;
        font-size: 14px;
    }

    .title{
        padding: 0px 60px;
    }

    .right-icon {
        width: 60px;
        height: 60px;
        top: 0%;
    }

    .right-icon img {
        width: 50px;
        height: 50px;
    }

    .mission-item, .vision-item {
        padding: 20px;
    }

    .mission-item img, .vision-item img {
        width: 70px;
        height: 70px;
    }

    #footer ul{
        padding-left: 0;
        margin-bottom: 0;
    }

    .guiding-principle-inner{
        margin-top: 30px;
    }
    
    .card h5{
        text-align: center;
        font-size: 18px;
    }

    .card img {
        width: 50px;
        height: 50px;
        margin-top: -25px;
    }

    .usp-inner{
        row-gap: 50px;
    }

    .peb-p-font {
        margin-top: 30px;
        font-size: 20px;
    }

    .bullet-points-peb li {
        padding: 5px 0px;
        font-size: 14px;
        color: #737373;
    }

    .peb-comp-section img {
        width: 100%;
    }

    .sc-peb-parts{
        margin-top: 30px;
        padding-left: 0;
    }

    .manufacturing-facility-desc, .mf-points-inner{
        margin-top: 30px !important;
    }

    .mf-points-inner li span {
        font-size: 18px;
    }

    .mf-points-inner li {
        font-size: 14px;
    }

    .faq-section .accordion-button {
        font-size: 16px;
    }

    .faq-section .accordion-body{
        color: #737373;
        font-size: 14px;
    }

    .systems-at-work-section{
        row-gap: 30px;
    }

    .systems-at-work-item{
        gap: 10px;
    }

    .systems-at-work-item .blog-small-heading{
        font-size: 18px;
    }

    .systems-at-work-item p{
        font-size: 14px;
        color: #737373;
    }

    .left-contact p{
        margin-top: 30px !important;
    }

    .contact_section input[type=submit]{
        margin: 0px auto;
        display: flex;
        margin-top: 30px;
    }

    .right-contact{
        gap: 20px;
    }
}